.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background: transparent;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.dropdown-button:hover {
  background-color: #ffffff;
  color: black;
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: #232f3e;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

.dropdown-item {
  padding: 12px 16px;
  cursor: pointer;
}

.dropdown-item a {
  text-decoration: none;
  color: rgb(169, 252, 255);
}

.dropdown-item:hover {
  background-color: #ffa200f6;
  border-radius: 10px;
}
